:root{
    --main-color:rgb(199, 0, 0);
    --text-color:#fff;
    --btn-color:black;
    --second-color:rgb(0, 13, 126);
}

.category-wrapper{
    display: flex;
    align-items: center;
    height: 120px;
}
.category-wrapper .item{
    width: 200px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    cursor: pointer;
}
.category-wrapper .item img{
    width: 60px;
    height: 60px;
    object-fit: contain;
}
.category-wrapper .item h4{
    font-size: 13px;
    margin-top: 5px;
    color: var(--btn-color);
    font-weight: 400;
}
.category-wrapper .item:hover h4{
    color: var(--second-color);
}