:root{
    --main-color:rgb(199, 0, 0);
    --text-color:#fff;
    --btn-color:black;
    --second-color:rgb(0, 13, 126);
}
/*
    1. navbar - 11
    2. login & register - 66
 */


/* --------------------------------navbar ----------------------------------------------------- */
nav{
    display: flex;
    padding-left: 70px;
    padding-right: 70px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    font-family: 'Poppins', sans-serif;
}
nav .title{
    font-size: 20px;
    color: var(--text-color);
    color: var(--text-color);
    font-weight: 700;
    letter-spacing: 2px;
    text-decoration: none;
}
nav .title:hover{
    color: var(--text-color);
}
.search-form{
    position: relative;
}
.search-form span{
    position: absolute;
    right: 10px;
    top: 6px;
}
.search-form input{
    width: 500px;
    height: 35px;
    border: none;
    outline: none;
    padding-left: 10px;
    border-radius: 5px;
}
.nav-actions a{
    background-color: var(--btn-color);
    padding: 8px 25px;
    color: var(--text-color);
    text-decoration: none;
    border-radius: 5px;
}
.nav-actions a:hover{
    color: var(--text-color);
}
.drop-btns{
    background-color: var(--btn-color) !important;
    color: var(--text-color) !important;
}
.dropdown-menu li{
    position: relative;
}
.dropdown-menu li a{
    background: none !important;
    color: var(--btn-color) !important;
    margin-left: 10px !important;
}
.dropdown-menu li i{
   position: absolute;
   top: 10px;
   left: 10px;
   color: var(--second-color);
} 
@media screen and (max-width:720px) {
    .search-form{
        display: none;
    }
}

/* -----------------------------login and register ----------------------------------------- */
.auth-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.auth-body form{
    display: flex;
    flex-direction: column;
    width: 400px !important;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.747);
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}
.auth_form label{
    font-size: 15px;
    padding-bottom: 8px !important;
}
.auth_form input{
    border: 1px solid rgba(0, 0, 0, 0.466);
    outline: none !important;
}
.next_page{
   text-align: center;
   font-size: 14px;
   font-weight: bold;
}
.auth_btn{
    background-color: var(--btn-color) !important;
    color: var(--text-color) !important;
}
.auth_form .remember{
    color: var(--second-color);
}

/* ---------------------------------- home --------------------------------------------- */

/* -------------------- trending--------------------------- */
